<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  </head>

  <body>
      <% flash.each do |names, message| %>
        <div class="alert alert-<%= names %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong><%=message%></strong>
        </div>
      <% end %>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WatchOnShp</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/products">Home<span class="sr-only">(current)</span></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More options<span class="caret"></span></a>
                <ul class="dropdown-menu"> 
                  <li><a href="/products/new">Add new product</a></li>
                  <li><a href="http://www.jomashop.com/watches-for-men.html?features=Chronograph&gender=Men%27s&manufacturer=88+Rue+Du+Rhone&movement=Quartz&price_filter=%24250-%24500&style=Casual+Watches&watch_color=Black">Purchase</a></li>
                  <li><a href="/products?price=desc">Sort By Price Lowest to Highest<span class="sr-only">(current)</span></a></li>
                  <li><a href="/products?price=asc">Sort By Price Highest to Lowest<span class="sr-only">(current)</span></a></li>
                  <li><a href="/products?filter=discount">Discount Items</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left">
              <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for products..">
              <!-- <ul id="myUL">
                <li><a href="#" class="header">A</a></li>
                <li><a href="#">Akribos XXVIV</a></li>
                <li><a href="#">AUDEMARS PIGUET</a></li>

                <li><a href="#" class="header">H</a></li>
                <li><a href="#">Hamilton</a></li>

                <li><a href="#" class="header">G</a></li>
                <li><a href="#">GC BY Guess</a></li>

                <li><a href="#" class="header">8</a></li>
                <li><a href="#">88 Rue du Rhone</a></li>
              </ul> -->
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/products/about_us">About us</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
